
.user-list {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
}
.user-search-bar {
    display: flex;
    border-radius: 5px;
    width: 90vw;
    margin: 20px;
    height: 40px;
    font-size: 20px;
}
.user {
    border-radius: 20px;
    border: solid 2px gray;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.user-selected {
    border-radius: 20px;
    border: solid 2px gray;
    padding: 10px;
    background-color: lightskyblue;
    box-shadow: 10px 5px 5px gray;
    margin: 20px;
    text-align: center;
}



.friend {
    border-radius: 5px;
    border: solid 2px lightgray;
    margin: 3px;
    text-align: center;
    padding: 3px;
}

.user-field { 
    margin: 5px;
}

